---
layout: default
---
{% include header.html type="post" %}
<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">


{% for tag in site.categories %}
{% unless tag[0] == "Project" %}
  <a href="#{{ tag[0] | slugify }}" class="post-tag">{{ tag[0] }}</a>
{% endunless %}
{% endfor %}
<hr size="3" noshade>

{% for tag in site.categories %}
{% unless tag[0] == "Project" %}
  <h2>
    <!--<span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] | capitalize }}</span>-->
    <span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] | none }}</span>
  </h2>
  {% assign pages_list = tag[1] %}
  {% for post in pages_list reversed %}

    <li>

      {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
      &emsp;
      <span class="post-meta">{{ post.date | date: date_format }}</span>

      <hr size="3" noshade>

    </li>

  {% endfor %}
  {% assign pages_list = nil %}
  {% assign group = nil %}
{% endunless %}
{% endfor %}


      {% include comments.html %}
    </div>
  </div>
</div>
